# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore any venvs and pycache
.venv
.llm-venv
.llm-venv-py-3.12
.llm-venv-3.12
.vscode
.env
*.pyc
__pycache__/

# Ignore the data for the datasets
data
pdfs
