
psycopg[binary]
qdrant-client

pymupdf
pymupdf4llm
pytesseract
gdown
pandas
docling

langchain
langchain-huggingface
langchain-text-splitters
langchain_experimental
langchain_openai

ragas
rapidfuzz
mteb
vidore-benchmark
