pymupdf
gdown
dotenv

pylint

langchain
langchain-text-splitters
langchain_huggingface
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz